@import "variables";

.friendsSideBar {
  position: fixed;
  z-index: 21;
  top: 80px;
  right: 0;
  height: calc(100vh - 80px);
  padding: 20px 22px 20px 20px;
  overflow: hidden;
  background: $back-darker;

  @media (max-width: $lg) {
    top: 138px;
    height: calc(100vh - 138px);
  }

  &__friend {
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
  }

  &__online {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 14px;
    height: 14px;
    border: 1px solid $green;
    border-radius: 50%;
    background: $green;
  }

  &__offline {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 14px;
    height: 14px;
    border: 1px solid $green;
    border-radius: 50%;
    background: $secondary;
  }
}
