@import "variables";

.navigation {
  position: relative;
  z-index: 10;

  &__placeholder {
    width: 100%;
    height: 80px;

    @media (max-width: $lg) {
      height: 130px;
    }
  }

  &__wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    background: $secondary;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    cursor: pointer;

    &:last-child {
      margin-left: 20px;
    }

    svg {
      width: 50px;
      height: 45px;
      margin-top: 5px;
      padding: 0 12px;
      fill: $svg;

      &:hover {
        fill: $primary;
      }
    }
  }

  &__notificationCounter {
    display: flex;
    position: absolute;
    top: 0;
    right: 2px;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    transform: scale(0);
    animation: pop-up 0.5s ease-in-out forwards;
    border-radius: 50%;
    background: $primary;
    color: $secondary;
    font-size: 12px;
    font-weight: 700;

    @keyframes pop-up {
      0% {
        transform: scale(0);
      }

      50% {
        transform: scale(1.2);
      }

      100% {
        transform: scale(1);
      }
    }
  }

  &__unreaded {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $primary;

    &Closer {
      top: 4px;
      left: 4px;
    }
  }
}
