body {
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --visual100vh: 100%; // calculated in _app.js
}

.avatar {
  border-radius: 50%;
  background: $back;
  box-shadow: 0 2px 2px rgb(0 0 0 / 25%);
}

.svg-fill-primary {
  fill: #06c0d9 !important;
}

.react-player__preview {
  aspect-ratio: 16/9;
}

.__react_component_tooltip {
  box-shadow: 0 2px 2px rgb(0 0 0 / 25%);
  font-size: 14px !important;
}

.EmojiPickerReact {
  --epr-picker-border-radius: 10px !important;
  --epr-highlight-color: #06c0d9 !important;
  --epr-header-padding: 10px !important;
  --epr-category-icon-active-color: #06c0d9 !important;

  border: none !important;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%) !important;
  font-family: Montserrat, sans-serif !important;
}

[data-rmiz-btn-unzoom] {
  display: none !important;
}

[data-rmiz-modal-overlay="visible"] {
  background-color: rgb(255 255 255 / 80%) !important;
}

[data-rmiz-modal-content] {
  img {
    user-select: none;
  }
}

.toggleModal-open {
  .rotate-90 {
    svg {
      transform: rotate(-90deg);
    }
  }
}

.f--medium {
  font-size: 18px !important;
  line-height: 22px !important;

  @include media-breakpoint-down(md) {
    font-size: 16px !important;
    line-height: 20px !important;
  }

  @include media-breakpoint-down(sm) {
    font-size: 14px !important;
    line-height: 18px !important;
  }
}

.f--small {
  font-size: 16px !important;
  line-height: 20px !important;

  @include media-breakpoint-down(md) {
    font-size: 14px !important;
    line-height: 18px !important;
  }
}

.f--x-small {
  font-size: 14px !important;
  line-height: 18px !important;

    @include media-breakpoint-down(md) {
        font-size: 12px !important;
        line-height: 16px !important;
    }
}

.f--xx-small {
  font-size: 12px !important;
  line-height: 16px !important;

    @include media-breakpoint-down(md) {
        font-size: 10px !important;
        line-height: 14px !important;
    }
}

.rdw-editor-toolbar {
  padding: 16px !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.rdw-editor-main {
  padding: 0 22px !important;
}

.quill {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ql-toolbar {
  border-top: none !important;
  border-right: none !important;
  border-bottom: 1px solid $border !important;
  border-left: none !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.ql-container {
  border: none !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.ql-editor {
  min-height: 120px;
  max-height: 400px;
  padding: 16px 0 8px !important;
  overflow-x: hidden;
  overflow-y: auto;

  p {
    font-size: 16px !important;
    line-height: 20px !important;

    @include media-breakpoint-down(md) {
      font-size: 14px !important;
      line-height: 18px !important;
    }
  }

  a {
    color: $primary !important;
  }
}

.select__input {
  border-radius: 0 !important;
  box-shadow: none !important;
}
