button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 40px 9px;
  border: none;
  border-radius: 10px;
  outline: none;
  background: $button;
  color: $white;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;

  @include media-breakpoint-down(lg) {
    padding: 11px 30px 9px;
    font-size: 16px;
    line-height: 20px;
  }

  a {
    color: $white;
  }

  span {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    transform: translateY(-1px);
  }

  &:hover {
    background: $button-hover;
  }
}

.button {
  &--small {
    padding: 8px 16px 6px;
    font-size: 16px;
    line-height: 20px;

    @include media-breakpoint-down(lg) {
      padding: 8px 16px 6px;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &--blue {
    background: $button-hover;

    &:hover {
      background: $button;
    }
  }

  &--fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  &--grayed {
    background: $back-darker;
    color: $text-gray;
    cursor: default;

    &:hover {
      opacity: 0.8;
      background: $back-darker;
    }
  }
}
