button {
  padding: 10px 40px;
  border: none;
  border-radius: 10px;
  outline: none;
  background: $button;
  color: $white;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  cursor: pointer;

  a {
    color: $white;
  }

  @include media-breakpoint-down(lg) {
    padding: 10px 30px;
    font-size: 16px;
    line-height: 20px;
  }
}

button:hover {
  background: $button-hover;
}
