// stylelint-disable
$primary: #06C0D9;
$secondary: #FFF;
$back: #F8F8F8;
$back-darker: #F3F3F3;
$border: #E2E2E2;
$border-darker: #d1d1d1;
$text: #000;
$text-gray: #797979;
$text-disabled: #A5A5A5;
$avatar: $border;
$button: #8F8F8F;
$button-hover: $primary;