$primary: #06c0d9;
$secondary: #fff;
$back: #f8f8f8;
$back-darker: #f3f3f3;
$back-darkest: #eaeaea;
$border: #e2e2e2;
$border-darker: #e2e2e2ff;
$text: #000;
$text-white: #fff;
$text-gray: #797979;
$text-disabled: #a5a5a5;
$avatar: $border;
$button: #8f8f8f;
$button-hover: $primary;
$svg: #d1d1d1;
$svg-dark: #888;
$svg-lighter: #a5a5a5;
$green: #59ce5e;
